{% extends 'authenticate/main.html' %}

{% load crispy_forms_tags %}

 {% block title %}
ToDo Signup
 {% endblock %}


{% block ueber %}
<fieldset class ="form-group">
    <legend class="border-bottom mb-4">Sign Up</legend>
</fieldset>
 {% endblock %}

 
{% block forms %}
<form method="POST">
    {% csrf_token %}
    <fieldset class ="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-warning">Sign Up</button>
    </div>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        Already have an Account? <a class ="ml-2" href="#">Sign In</a>
    </small>
</div>
 {% endblock %}

